{
  "version": 3,
  "configurePresets": [
    {
      "name": "dev-win64",
      "inherits": "ci-win64",
      "binaryDir": "${sourceDir}/build/dev-win64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "CMAKE_EXPORT_COMPILE_COMMANDS": "ON",
        "CMAKE_TOOLCHAIN_FILE": "C:/vcpkg/scripts/buildsystems/vcpkg.cmake"
      }
    }
  ]
}
